.blocks {
  break-inside: avoid;
}

[data-id="main"] li  {
  margin-left: 20px; 
  list-style-position: inside;
}

.details h3 {
    margin-bottom: 0.25rem;
}

[data-id="main"] li::before {margin-left: -6.5pt;}

/*.details .concise ul {
    padding-top: 9px;
} */

.details .place {
    margin-bottom: 0.4rem;
}

.details p {
    margin-top: 0px;
}